In [1]:
import pandas as pd

In [2]:
version = '0.1.3'
path = 'data/'
file_name = path + 'novels_' + version + '.csv'

In [5]:
df = pd.read_csv(file_name)
df.head(2)

,id,name,assoc_names,original_language,authors,genres,tags,start_year,licensed,original_publisher,...,activity_month_rank,activity_all_time_rank,on_reading_lists,reading_list_month_rank,reading_list_all_time_rank,rating,rating_votes,related_series_ids,recommended_series_ids,recommendation_list_ids
0,56152,A Former Child Soldier Who Uses a Magic Sword ...,['A Former Child Soldier Who Uses a Magic Swor...,japanese,"['hasekura mondo', '支倉文度']","['action', 'adventure', 'fantasy', 'romance', ...","['adapted to manga', 'calm protagonist', 'enem...",2018,False,shinkigensha,...,1359,7632,521,1437,8470,3.5,24,NaN,NaN,[1382]
1,58160,A Lifelong Love Affair At Work,['평생직장에서 사내연애'],korean,['새벽한강'],"['action', 'adventure', 'romance', 'shounen ai']","['magic', 'office romance']",2022,False,ridibooks,...,3256,13595,132,5158,12646,5.0,2,NaN,NaN,"[60769, 50877, 48872]"

In [6]:
df.shape

(13592, 27)