In [1]:
import pandas as pd

In [2]:
version = '0.1.3'
path = 'data/'
file_name = path + 'novels_' + version + '.csv'

In [5]:
df = pd.read_csv(file_name)
df.head(2)

,id,name,assoc_names,original_language,authors,genres,tags,start_year,licensed,original_publisher,...,activity_month_rank,activity_all_time_rank,on_reading_lists,reading_list_month_rank,reading_list_all_time_rank,rating,rating_votes,related_series_ids,recommended_series_ids,recommendation_list_ids
0,56152,A Former Child Soldier Who Uses a Magic Sword ...,['A Former Child Soldier Who Uses a Magic Swor...,japanese,"['hasekura mondo', '支倉文度']","['action', 'adventure', 'fantasy', 'romance', ...","['adapted to manga', 'calm protagonist', 'enem...",2018,False,shinkigensha,...,1359,7632,521,1437,8470,3.5,24,NaN,NaN,[1382]
1,58160,A Lifelong Love Affair At Work,['평생직장에서 사내연애'],korean,['새벽한강'],"['action', 'adventure', 'romance', 'shounen ai']","['magic', 'office romance']",2022,False,ridibooks,...,3256,13595,132,5158,12646,5.0,2,NaN,NaN,"[60769, 50877, 48872]"

In [6]:
df.shape

(13592, 27)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13592 entries, 0 to 13591
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          13592 non-null  int64
 1   name                        13592 non-null  object
 2   assoc_names                 13442 non-null  object
 3   original_language           13551 non-null  object
 4   authors                     13592 non-null  object
 5   genres                      13592 non-null  object
 6   tags                        13592 non-null  object
 7   start_year                  11721 non-null  object
 8   licensed                    6629 non-null   object
 9   original_publisher          12343 non-null  object
 10  english_publisher           1572 non-null   object
 11  complete_original           13103 non-null  object
 12  chapters_original_current   11931 non-null  object
 13  complete_translated         10546 non-null  object
 14  chapter_latest_translated   12344 non-null  object
 15  release_freq                13587 non-null  float64
 16  activity_week_rank          13592 non-null  int64
 17  activity_month_rank         13592 non-null  int64
 18  activity_all_time_rank      13592 non-null  int64
 19  on_reading_lists            13592 non-null  int64
 20  reading_list_month_rank     13592 non-null  int64
 21  reading_list_all_time_rank  13592 non-null  int64
 22  rating                      13592 non-null  float64
 23  rating_votes                13592 non-null  int64
 24  related_series_ids          1657 non-null   object
 25  recommended_series_ids      8810 non-null   object
 26  recommendation_list_ids     11453 non-null  object
dtypes: float64(2), int64(8), object(17)
memory usage: 2.8+ MB